# .gitignore for Grails 1.2 and 1.3
# Although this should work for most versions of grails, it is
# suggested that you use the "grails integrate-with --git" command
# to generate your .gitignore file.

# web application files
/web-app/WEB-INF/classes

# default HSQL database files for production mode
/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
/stacktrace.log
/test/reports
/logs

# project release file
/*.war

# plugin release files
/*.zip
/plugin.xml

# older plugin install locations
/plugins
/web-app/plugins

# "temporary" build files
/target
/build

classes
*.log
*.swp
/src
/out
/bin
/*/bin
/conf
*.log
*.ipr
*.iml
*.iws
*.hprof
idea
/lib
/doc
/cobertura.ser
/cruise/coverage/report
/downloads
/test/groovy/grails/config
/test/grails-app
stacktrace.log
/dist
/idea-target
target
/build
/grails.iws
.gradle
.DS_Store
.classpath
.project
.settings
/*/build/*
/*/.settings/*
/*/out/*
/*/*.iml
/eclipse-build

/.idea/
/grails-test-suite-uber/configured/
