.mycontainer {
    max-width: 80rem;
    margin-inline: auto;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    padding-top: 2em;
}

.table td {
    padding: .75rem .75rem 2rem;
}

.table thead {
    border-bottom: 3px solid #dee2e6;
}

.bot {
    margin-top: revert;
    margin-bottom: 0rem;
}

.table th {
    border-top: unset;
}

.custom-badge {
    background-color: darkturquoise;
    color: white;
    margin-left: 12rem;
}

.custom-badge-cost {
    background-color: darkturquoise;
    color: white;
}

.flex {
    display: flex;
}

.save-button {
    margin-top: auto;
    border-radius: 0.25rem;
    margin-left: 4rem;
}

.grey {
    background-color: darkgrey;
}

.cost-container {
    margin-top: 1rem;
    border-radius: 0.25rem;
    margin-left: 53rem;
}

.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 3rem;
}

.modal-dialog {
    max-width: 500px;
    margin: 3.75rem auto;
}

label {
    display: block;
    margin-bottom: 1rem;
}

.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: center;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}

.custom-template {
    background-color: darkturquoise; !important;
    border-color: darkturquoise; !important;
}